body {
  background-color: #35383d !important;
}

@media only screen and (max-width: 1026px) {
  #ale-nav {
    display: none;
  }
}

@media only screen and (min-width: 1026px) {
  #top-pic, #top-links {
    display: none;
  }
}

li {
  padding: 7px;
}

i {
  color: white;
}

i:hover {
  color: rgb(129, 129, 129);
}

#top-pic > img {
  max-width: 200px;
  min-width: 100px;
}

#nav-pic > img {
  max-width: 200px;
  min-width: 100px;
}