* {
  background-color: #C4DFDF !important;
}

html {
  background-color: #C4DFDF !important;
}

@media only screen and (max-width: 1026px) {
  #ale-nav {
    display: none;
  }
}

@media only screen and (min-width: 1026px) {
  #pic-2 {
    display: none;
  }
}